:root{
    --neg:#000000;
    --ro:#ff0000;
    --bl: #ffff;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

button  { cursor: pointer; border: none; background: none; }
img     { width: 100%; }
ul      { list-style: none; }
a      { text-decoration: none; }

header { 
    position: fixed;
    width: 100%;
    z-index: 5;
    background-color: var(--neg);
}

header .navbar { 
    display: flex;
    padding: 20px;
    align-items: center;
    justify-content: space-between;
}

.navbar .nav-logo .nav-text {
    color: var(--ro);
}

.navbar .nav-menu {
    display: flex;
    gap: 10px;
}

.navbar .nav-menu .nav-link {
    padding: 10px 18px;
    color: var(--ro);
    font-size: large;
    border-radius: 50px;
    transition: 0.3s ease;
}
.navbar .nav-menu .nav-link:hover {
    color: var(--neg);
    background-color: var(--bl);
}

.nav-actions {
    display: flex;
    align-items: center;
    gap: 16px;
}
.menu-toggle {
    display: none;
}
.pelicula {
    display: none;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
    padding: 5px;
}

.pelicula span {
    display:flex;
    width: 25px;
    height: 3px;
    background-color: var(--ro);
    border-radius: 3px;
    transition: transform 0.3s ease, opacity 0.3s ease;
}

/* 3. Animacion X cuando el checkbox esta marcado */
.menu-toggle:checked ~ .nav-menu + .nav-actions .pelicula span:nth-child(1),
.menu-toggle:checked + .nav-menu + .nav-actions .pelicula span:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
}

.menu-toggle:checked ~ .nav-menu + .nav-actions .pelicula span:nth-child(2),
.menu-toggle:checked + .nav-menu + .nav-actions .pelicula span:nth-child(2) {
    opacity: 0;
}

.menu-toggle:checked ~ .nav-menu + .nav-actions .pelicula span:nth-child(3),
.menu-toggle:checked + .nav-menu + .nav-actions .pelicula span:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
}


.hero-section {
      background-image: radial-gradient(circle, rgb(255, 55, 55), rgb(46, 1, 1), rgb(0, 0, 0));
}
.hero-section .section-content {
    display:flex;
    align-items: center;
    min-height: 100vh;
    color: var(--bl);
    justify-content: space-between;
    padding: 0 60px;
}

.hero-section .hero-details .title {
    color: var(--ro);
    font-size: 4.3rem;
    font-family: "lobster";
}

.hero-section .hero-details .subtitle {
    margin-top: 8px;
    font-size: 2.3rem;
    max-width: 70%;
    font-family:'Courier New', Courier, monospace;
}

.hero-section .hero-details .description {
    font-size: 1.12rem;
    max-width: 70%;
    margin: 24px 0 40px;
}
.hero-section .hero-details .button {
    padding: 10px 26px;
    background-color: var(--ro);
    color: var(--neg);
    border-radius: 30px;
    border: 2px solid transparent;
    transition: 0.3s ease;
    font-weight: 600;
}

.hero-section .hero-details .buttons {
    display: flex;
    gap: 23px;
}

.hero-section .hero-details .button:hover {
    color:var(--bl);
}

.hero-image-wrapper {
    width: 500%;
    height: 500%;
    max-width: 700px;
    
}

.nav-link { 
    padding: 10px 18px;
    color : var(--bl);
    border-radius: 20px;
    transform: 0.3s ease ;
}


.nav-link:hover {
    color: var(--neg);
    background-color: var(--bl); 
}

.pelicula { 
    display: none;
}
.footer-button{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: var(--bl);
    padding-top: 32px;
    border-top: 1px solid #ff0000;
    background-color: var(--neg);

}
@media (max-width: 768px) {
    .pelicula {
        display: flex;
    }

    .navbar .nav-menu { 
        display: none;
        flex-direction: column;
        width: 100%;
    }

    .menu-toggle:checked + .nav-menu {
        display: flex;
    }

    .hero-section .section-content {
        flex-direction: column;
        text-align: center;
        padding: 100px 24px 60px;
    }

}
